<h1>All Tracks</h1>
<hr/>

<div class="container">
    <% @tracks.each do |track| %>
      <div class="col-md-3 col-md-offset-1">
        <h3><a href="/tracks/<%= track.id %>"><%= track.artist %></a> </h3>
        <p>
          <%= track.title %>
        </p>
        <!-- add conditoin -->
        <% if session[:user_id] %>
        <form class="upvote" method="POST" action="/upvote">
          <!-- hidden input with track id -->
          <input type="hidden" name="track" id="track" value="<%= track.id %>">
          <button class="btn btn-lg btn-primary btn-block" type="submit">UP VOTE</button>
        </form>
        <% end %>
      </div>
    <% end %>
</div>

