<h1>All Tracks</h1>
<hr/>

<div class="container">
    <% @tracks.each do |track| %>
      <div class="col-md-3 col-md-offset-1">
        <h3><a href="/tracks/<%= track.id %>"><%= track.artist %></a> </h3>
        <p>
          <%= track.title %>
        </p>
        <form class="upvote" method="POST" action="">
          <button class="btn btn-lg btn-primary btn-block" type="submit">UP VOTE</button>
        </form>
      </div>
    <% end %>
</div>

